window-rule {
  match app-id="niri-pad"
  open-floating true
  default-column-width { proportion 0.8; }
  default-window-height { proportion 0.8; }
}

binds {
  Mod+Grave { spawn "~/.local/bin/niri/toggle-pad.sh"; }
}
