* {
  transition: none !important;
}

.zen-essentials-container {
  display: block !important;
  min-width: 0 !important;
  width: 50px !important;
  height: 100%;
  background: var(--zen-main-browser-background);
}

zen-workspace {
  padding-top: 6px !important;
  width: calc(100% + var(--zen-toolbox-padding) * 2 - 50px) !important;
  translate: 50px;
}

.tabbrowser-tab[pending] {
  opacity: 0.5;
}

.tab-background {
  min-height: 0 !important;
  height: 36px;
}

.tab-context-line {
  z-index: 0;
  height: 10px !important;
  margin: auto !important;
}

.zen-essentials-container .tab-background::before {
  margin: 0 !important;
  background: red;
}
  
.zen-essentials-container .tab-background::after {
  background: transparent !important;
}

.zen-current-workspace-indicator {
  display: none !important;
}

.zen-workspace-close-unpinned-tabs-button {
  display: none;
}

.pinned-tabs-container-separator:first-child {
  display: none;
}

#zen-sidebar-foot-buttons {
  gap: 0 !important;
  justify-content: start !important;
}

#zen-sidebar-foot-buttons > toolbaritem {
  margin: 0 !important;
}

#zen-workspaces-button {
  z-index: 1;
  top: -140px !important;
  display: block !important;
  position: absolute !important;
}
